.delete-icon:hover {
  opacity: .5;
}

/* html {
  font-size: calc(.5rem + 1vw);
} */

.float-right {
  float: "right"
}

.float-left {
  float: "left"
}

.paper {
  height: 10rem;
}

a {
  color: inherit
}

a:hover {
  opacity: .5;
  color: inherit;
  text-decoration: none;
}